.weather {
	display: flex;
	min-height: 100vh;
	max-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	&__video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		min-width: 100%;
		min-height: 100%;
		z-index: -1;
		object-fit: cover;
	}
	&__header {
		color: $weatherHeaderColor;
		@include fluid-type(300px, 1200px, 30px, 66px);
		margin: 0 0 30px 0;
	}
	&__city {
		padding: 10px;
		text-align: center;
		outline: none;
		max-width: 600px;
		min-width: 300px;
		width: 100%;
		font-size: 18px;
		border: 0;
		border-radius: 10px;
		margin: 0 0 30px 0;
	}
	&__mainInfo {
		display: flex;
		padding: 15px;
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 15px;
		color: rgb(255, 255, 255);
	}
	&__temp {
		margin: 0;
		font-size: 60px;
	}

	&__icon {
		padding: 0 20px 0 20px;
	}
	&__data p {
		margin: 0 0 4px;
		font-size: 12px;
	}

	&__next {
		color: $weatherHeaderColor;
		margin: 30px 0;
		@include fluid-type(300px, 1200px, 20px, 40px);
		text-align: center;
	}
	&__days {
		display: flex;

		padding: 15px;
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 15px;
		align-items: center;
		justify-content: space-around;
		color: rgb(255, 255, 255);
	}
	&__day {
		color: rgb(255, 255, 255);
	}
	&__date {
		text-align: center;
		font-weight: 600;
	}
	&__avg {
		text-align: center;
	}
	&__loader {
		display: none;
	}
	&__error {
		padding: 10px;
		border-radius: 10px;
		margin: 20px 0 0 0;
		font-size: 1.5em;
		color: $weatherErrorColor;
		background-color: $weatherErrorColorBg;
		font-weight: 700;
	}
	&__map {
		margin: 30px 0 0 0;
		height: 300px;
		border-radius: 15px;
	}
}
