* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.weather__video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.weather__header {
  color: #fff;
  font-size: 30px;
  font-size: clamp(30px, 18px + 4vw, 66px);
  margin: 0 0 30px 0;
}
.weather__city {
  padding: 10px;
  text-align: center;
  outline: none;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  margin: 0 0 30px 0;
}
.weather__mainInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  color: rgb(255, 255, 255);
}
.weather__temp {
  margin: 0;
  font-size: 60px;
}
.weather__icon {
  padding: 0 20px 0 20px;
}
.weather__data p {
  margin: 0 0 4px;
  font-size: 12px;
}
.weather__next {
  color: #fff;
  margin: 30px 0;
  font-size: 20px;
  font-size: clamp(20px, 13.3333333333px + 2.2222222222vw, 40px);
  text-align: center;
}
.weather__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: rgb(255, 255, 255);
}
.weather__day {
  color: rgb(255, 255, 255);
}
.weather__date {
  text-align: center;
  font-weight: 600;
}
.weather__avg {
  text-align: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(51, 165, 231);
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}